.productOfAdmin img {
  width: 300px;
}

#box {
  display: flex;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

#line {
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
}

#box img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#toggle {
  border: none;
  background-color: transparent;
  padding: 0;
}

.dropdown-toggle::after {
  display: none !important;
}
