.sideMenuIn {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 100px;
}

.sideMenu {
  width: 15%;
  display: flex;
  justify-content: center;
}

.sideMenuIn button {
  width: 188px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.sideMenuIn button:hover {
  background-color: #003585;
  color: white;
  cursor: pointer;
}

/* .sideMenuIn button:focus {
  background-color: #003585;
  color: white;
} */
